/*       Name: HalloweenCSS
         Date: June 10th 2019
       Author: Aaron Ly
  Description: Formatting for a halloween-based web page.
*/

/* in the event that you want to format the head, left this here for that occasion */ 
head {
}


header {
	width: 800px;
	margin: auto;
	border: 1px black solid;
	background-image: linear-gradient(45deg, white 25%, orange, black);

}

body {
	font-family: sans-serif;
	background-image: url(../images/bats.gif);
}

h1 {
	font-size: 26px;
}

/* we're able to format just the first letter of any h1 section using this */
h1::first-letter{
	font-size: 52px;
	background: linear-gradient (black, orange);

}

h2 {
	font-size: 30px;
}

h3 {
	font-size: 18px;
}

/* current footer is centre aligned and quite small */
footer {
	font-size: 12px;
	margin: auto;
	width: 800px;
	text-align: center;
	border: 2px solid black;
	padding-top: 20px;
	padding-bottom: 20px;
	background-image: linear-gradient(-45deg, white 25%, orange, black);
}
.maintext {
	padding-left: 160px;
}

.whole {
	width: 800px;
	margin: auto;
	background-color: white;
	border: 2px solid black;
	box-shadow: 10px 10px 10px #000000;
}

/* if you wish the change how the formatting for the ordered list appears */
.links {
	font-weight: bold;
	color: orange;
	line-height: 30px;
}

.headerimg {
	padding-right: 22px;
	padding-bottom: 10px;
	padding-left: 12px;
	padding-top: 8px;
}

.sidebar {
	padding-left: 4px;
	padding-top: 4px;
	width: 160px;
	position: fixed;
	z-index: 1;
}

/* our formatting for the title, we use 2px drop shadow with a pitch black colour code as well as italicize for the formatting */
.title {

}

/* just like the header, this is left in the event that someone wants to format the subtitle */
.subtitle{
}

/* this is how we change the colour of the hovering and focus of the links within the ordered list section of our index */
a:focus, a:hover {
	color: green;
}